body{
    margin: 0;
    font-family: "popins", sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    display: block;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);;
    background-position: center;
}

h2, p{
    text-align: center;
    margin: 1em auto;
    color: whitesmoke;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

fieldset{
    border: none;
    padding: 2rem 0;
    border-bottom: 3px none ;
}

label{
    /* ye use hota hai upper to lower order me karne je liye */
    display: block;
    /* margin is used to give space b\w line */
    margin: 0.5rem 0;
}

input, textarea, select{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}
/* input, textarea{
    border: 1px solid ;
} */
.inline{
    width: unset;
    margin: 0 0.5em 0.5em 0;
}
input[type="submit"]{
    display: block;
    width: 30%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1em;
    background-color: green;
    border-color: white;
    min-width: 100px;

}
.inline{
    display: inline;
}
.flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    margin-inline: auto;
}



