*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: white;
}

.top-strip{
    height: 48px;
    background-color: #9D40E4;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card{
    width: 100%;
    max-width: 335px;
    /* height: 405px; */
    background-color: #9D40E4;
    border-radius: 30px;
    padding: 32px 21px 24px;
}

.like-icon{
    display: flex;
    justify-content: space-between;
}

.like-icon img:hover{
    cursor: pointer;
}

.profile-content{
    min-height: 232px;
    width: 291px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}


.profile-content a{
    text-decoration: none;
    border: 1px solid #FECD2F;
    background-color: #FECD2F;
    padding: 10px;
    border-radius: 20px;
    color: white;
    display: inline-block;
    margin-bottom: 22px;
    margin-top: 14px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}
.profile-content a:hover{
    background-color: rgb(249, 188, 75);
}

.avatar{
    display: inline-block;
    margin-top: -60px;
    border: 8px solid white;
    border-radius: 100%;
    position: relative;
    width: 108px;
}

/* .green-dot{
    height: 14px;
    width: 14px;
    background-color: #87e57b;
    border-radius: 100%;
    border: 4px solid white;
    box-sizing: content-box;
    position: absolute;
    right: 336px;
    bottom: 320px;
} */
.profile-content h3{
    margin-top: 10px;
    /* margin-bottom: 6px; */
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}
.profile-content p{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

.footer-icon{
    padding: 16px 0 10px;
    border-top: 2px solid #F5F5F5;
}

.bottom-strip{
    height: 24px;
    background-color: #9D40E4;
}
